@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD

:root {
  --primary-color: #3b82f6;
  --secondary-color: #6366f1;
}

.dark {
  --primary-color: #60a5fa;
  --secondary-color: #818cf8;
}

/* Optional: Add smooth transitions for theme changes */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
=======
>>>>>>> origin/main
